<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 15</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <h3>Tema 15 - O Dom Profético (Estudo adicional)</h3>

    <h2 class="destaque_vermelho">Crença Aventista sobre o Dom Profético</h2>

    <p>
      Os Adventistas do Sétimo Dia creêm que Ellen G. White recebeu o dom de profecia. Seus escritos são um guia para a compreensão mais clara da Bíblia, jamais um substituto para esta. Conforme ela determinou "<span class="destaque_vermelho">Os tetemunhos escritos não são concebidos a fim de prover nova luz, mas para imprimir vividamente sobre o coração as verdades da inspiração já anteriormente reveladas.</span>" Testimonies, vol. 5, pág., 665.
    </p>

    <p>
      Há algo importante sobre o assunto dos profetas de Deus que você precisa saber: muitos vão para extremo, alguns não acreditam e outros quase idolatram. Nenhum destes extremos é bom.
    </p>

    <p>
      Veja o exemplo do profeta Moisés. Quado ele estava vivo, o povo de Deus o desprezou, o criticou, e por várias vezes reclamou de sua liderança. Depois que ele morreu, todos passaram quase a idolatrá-lo, a ponto de se referirem aos livros da Bíblia que ele escreveu como os livros de Moisés. Na verdade ele foi apenas um mensageiro de Deus.
    </p>

    <p>
      A igreja Adventista do Sétimo Dia tem a Bíblia como única regra de fé e prática. Entretanto reconhecemos que Deus deu valiosas instruções para os cristãos de hoje através dos escritos de Elle G. White. A Bíblia nos aconselha a termos em alta consideração o Dom Profético. Em 2 Crônicas 20:20 está escrito: <span class="destaque_vermelho">"Crede no Senhor, vosso Deus, e estareis seguros; crede nos seus profetas e prosperareis. "</span>
    </p>

    <p>
      Deus utilizou profetas para orientar e aconselhar o seu povo ao longo de toda a histórica Bíblica. Deus escolhe e usa profetas hoje também para fazer chegar até nós mensagens importantes de salvação.
    </p>

    <p>
      <span class="destaque_vermelho">Pequeno resumo da vida de Ellen White</span><br><br>

      Ellen nasceu em 26 de Novembro de 1827, em Gorham, Maine, Estados Unidos, e morreu em 16 de Julho de 1915, na Califórnia. Desde Dezembro de 1844, quando recebeu uma visão, dedicou-se a escrever e a pregar, desenvolvendo esse ministério durante 70 anos. Nesse período, educou ainda os filhos, ajudou o esposo, aconselhou os líderes da recém-fundada Igreja Adventista do Sétimo Dia e atuou como missionária na Europa e na Austrália. Sua produção literária ultrapassou 100 mil páginas e é conhecida como Espírito de Profecia.

    </p>

    <p>
      Entre os livros que Ellen White escreveu destacam-se aqueles que abordam o Grande Conflito entre Cristo e Satanás, desde antes da Criação até a eternidade dos remidos no Lar dos salvos. Ao todo são 3.623 páginas cobrindo a Bíblia do Gênesis ao Apocalipse.
    </p>

    <p class="destaque_vermelho">
      A "Série Conflito é formada pelos seguintes livros:
    </p>

    <ul>
      <li>Patriarcas e Profetas</li>
      <li>Profetas e Reis</li>
      <li>O Desejado de Todas as Nações</li>
      <li>Atos dos Apóstolos</li>
      <li>O Grande Conflito</li>
    </ul><br>

    <p id="decisao">MINHA DECISÃO</p>

    Decido estudar os livros do Espírito de Profecia para conhecer as mensagens de Deus específicas para Seus filhos no tempo final da história deste mundo. Iniciarei com o livro:

  </div>

  <ion-footer>

    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>

</ion-content>
