<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 13</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h3>Tema 13 - O Cristão e o Mundo</h3>

    <p>
      <span class="negrito_cor">1. Com o que o cristão não deve conformar-se?</span><br><br>

      Romanos 12:2 - "<span class="negrito_italico">E não vos conformeis com este século</span>, mas transformai-vos pela renovação da vossa mente, para que experimenteis qual seja a boa, agradável e perfeita vontade de Deus."

    </p><br>

    <p>
      <span class="negrito_cor">2. A quem pertecem as diversões profanas como bailes; carnaval; cinema; circo; teatro; modas indecentes e outras coisas semelhantes?</span><br><br>

      I João 2:16,17 - "<span class="negrito_italico">porque tudo que há no mundo, a concupiscência da carne, a concupiscência dos olhos e a soberba da vida, não procede do Pai, mas procede do mundo</span>. Ora, o mundo passa, bem como a sua concupiscência; aquele, porém, que faz a vontade de Deus permanece eternamente."

    </p><br>

    <p>
      <span class="negrito_cor">3. Com que traje indecoroso se exibe a mulher simbólica do Apocalipse que representa a igreja caída?</span><br><br>

      Apocalipse 17:3-6 - "<span class="negrito_italico">Transportou-me o anjo, em espírito, a um deserto e vi uma mulher montada numa besta escarlate, besta repleta de nomes de blasfêmia, com sete cabeças e dez chifres. Achava-se a mulher vestida de púrpura e de escarlata, adornada de ouro, de pedras preciosas e de pérolas</span>, tendo na mão um cálice de ouro transbordante de abominações e com as imundícias da sua prostituição. Na sua fronte, achava-se escrito um nome, um mistério: Babilônia, a Grande, a Mãe das Meretrizes e das Abominações da Terra. Então, vi a mulher embriagada com o sangue dos santos e com o sangue das testemunhas de Jesus; e, quando a vi, admirei-me com grande espanto."

    </p><br>

    <p>
      <span class="negrito_cor">4. Qual a melhor vestimenta para as mulheres cristãs?</span><br><br>

      1 Timóteo 2:9,10 - "<span class="negrito_italico">Da mesma sorte, que as mulheres, em traje decente, se ataviem com modéstia e bom senso</span>, não com cabeleira frisada e com ouro, ou pérolas, ou vestuário dispendioso, porém com boas obras (como é próprio às mulheres que professam ser piedosas)."

    </p><br>

    <p>
      <span class="negrito_cor">5. O que diz o Apóstolo Paulo sobre o usuo de jóias, adornos e vestimenta?</span><br><br>

      I Pedro 3:3,4 - "<span class="negrito_italico">Não seja o adorno da esposa o que é exterior, como frisado de cabelos, adereços de ouro, aparato de vestuário</span>; seja, porém, o homem interior do coração, unido ao incorruptível trajo de um espírito manso e tranquilo, que é de grande valor diante de Deus."

    </p><br>

    <p>
      <span class="negrito_cor">6. A quem Deus considera bem-aventurado e feliz?</span><br><br>

      Salmos 1:1,2 - "<span class="negrito_italico"> o homem que não anda no conselho dos ímpios, não se detém no caminho dos pecadores, nem se assenta na roda dos escarnecedores</span>. Antes, o seu prazer está na lei do Senhor, e na sua lei medita de dia e de noite."

    </p><br>

    <p id="decisao">MINHA DECISÃO</p>

    Creio que o cristão deve ser diferente do mundo em sua aparência, palavras e atitudes. Decido comportar-me como Cristo revela em Sua Palavra.

  </div>

  <ion-footer>

    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>

</ion-content>
