<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 09</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <h3>Tema 09 - As Horas do Sábado</h3>

    <p>
      <span class="negrito_cor">1. Como se chama nas Escrituras o dia anterior ao Sábado?</span><br><br>

      Lucas 23:54 - "Era o <span class="negrito_italico">dia da preparação</span>, e começava o sábado."

    </p><br><br>

    <p>
      <span class="negrito_cor">2. Quando colhia o maná enquanto estava no deserto, como o povo de Deus se preparava na sexta-feira para guardar o Sábado?</span><br><br>

      Êxodo 16:22-26 - "<span class="negrito_italico">Ao sexto dia, colheram pão em dobro, dois gômeres para cada um</span>; e os principais da congregação vieram e contaram-no a Moisés. Respondeu-lhes ele: Isto é o que disse o Senhor: Amanhã é repouso, o santo sábado do Senhor; o que quiserdes cozer no forno, cozei-o, e o que quiserdes cozer em água, cozei-o em água; e tudo o que sobrar separai, guardando para a manhã seguinte.
      E guardaram-no até pela manhã seguinte, como Moisés ordenara; e não cheirou mal, nem deu bichos.
      Então, disse Moisés: Comei-o hoje, porquanto o sábado é do Senhor; hoje, não o achareis no campo.
      Seis dias o colhereis, mas o sétimo dia é o sábado; nele, não haverá."

    </p><br><br>

    <p>
      <span class="negrito_cor">3. Quem não deve trabalhar no santo dia de Sábado?</span><br><br>

      Êxodo 20:10,11 - "Mas o sétimo dia é o sábado do Senhor, teu Deus; não farás nenhum trabalho, <span class="negrito_italico">nem tu, nem o teu filho, nem a tua filha, nem o teu servo, nem a tua serva, nem o teu animal, nem o forasteiro das tuas portas para dentro</span>; porque, em seis dias, fez o Senhor os céus e a terra, o mar e tudo o que neles há e, ao sétimo dia, descansou; por isso, o Senhor abençoou o dia de sábado e o santificou."

    </p><br><br>

    <p>
      <span class="negrito_cor">4. Quando começa e termina o Sábado?</span><br><br>

      Levítico 23:32 - "Sábado de descanso solene vos será; então, afligireis a vossa alma; aos nove do mês, <span class="negrito_italico">de uma tarde a outra tarde</span>, celebrareis o vosso sábado."

    </p><br><br>

    <p>
      <span class="negrito_cor">5. Que dia guardarão os filhos de Deus no Céu e na Nova Terra?</span><br><br>

      Isaías 66:23 -"E será que, de uma Festa da Lua Nova à outra e <span class="negrito_italico">de um sábado a outro</span>, virá toda a carne a adorar perante mim, diz o Senhor."

    </p><br><br>

    <p>
      <span class="negrito_cor">6. Que sinal de Deus, separa sua igreja das igrejas falsas?</span><br><br>

      Ezequiel 20:20 - "<span class="negrito_italico">santificai os meus sábados, pois servirão de sinal entre mim e vós</span>, para que saibais que eu sou o Senhor, vosso Deus."

    </p><br><br>

    <p>
      <span class="negrito_cor">7. Que bênção prometeu o Senhor aos que se desviam de profanar o Sábado?</span><br><br>

      Isaías 58:13,14 - "Se desviares o pé de profanar o sábado e de cuidar dos teus próprios interesses no meu santo dia; se chamares ao sábado deleitoso e santo dia do Senhor, digno de honra, e o honrares não seguindo os teus caminhos, não pretendendo fazer a tua própria vontade, nem falando palavras vãs, <span class="negrito_italico">então, te deleitarás no Senhor. Eu te farei cavalgar sobre os altos da terra e te sustentarei com a herança de Jacó</span>, teu pai, porque a boca do Senhor o disse."

    </p><br>

    <p id="decisao">MINHA DECISÃO</p>

    Decido ser fiel a Deus observando o santo dia do Sábado como um sinal de fidelidade entre Ele e eu.

  </div>

  <ion-footer>

    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>


</ion-content>
