<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 07</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <h3>Tema 07 - A Lei de Deus</h3>    

    <p>
      <span class="negrito_cor">1. Segundo a Bíblia, quem escreve os dez mandamentos entregues ao patriarca
        Moisés?</span><br><br>

      Êxodo 31:18 - "E, tendo acabado de falar com ele no monte Sinai, deu a Moisés as duas tábuas do Testemunho, tábuas
      de pedra, <span class="negrito_italico">escritas
        pelo dedo de Deus</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">2. O que é pecado?</span><br><br>

      1 João 3:4 - "Todo aquele que pratica o pecado também transgride a lei, porque <span class="negrito_italico">o
        pecado é a transgressão da lei</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">3. Como o apóstolo Paulo considerava a Lei de Deus?</span><br><br>

      Romanos 7:12 - "Por conseguinte, a lei é santa; <span class="negrito_italico">e o mandamento, santo, e justo, e
        bom</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">4. Jesus Cristo mudou ou anulou a Lei de Deus?</span><br><br>

      Mateus 5:17,18 - "Não penseis que vim revogar a Lei ou os Profetas; <span class="negrito_italico">não vim para
        revogar, vim para cumprir</span>. Porque em verdade vos digo: até que o céu e a terra passem, nem um i ou um til
      jamais passará da Lei, até que tudo se
      cumpra."

    </p><br><br>

    <p>
      <span class="negrito_cor">5. Quantos mandamentos é preciso violar para tornar-se transgressor da
        Lei?</span><br><br>

      Tiago 2:10 - "Pois qualquer que guarda toda a lei, <span class="negrito_italico">mas tropeça em um só ponto, se
        torna culpado de todos</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">6. Qual foi o propósito de a Lei ter sido dada?</span><br><br>

      Gálatas 3:24 - "De maneira que a lei nos serviu de aio <span class="negrito_italico">para nos conduzir a
        Cristo</span>, a fim de que fôssemos justificados por fé."

    </p><br><br>

    <p>
      <span class="negrito_cor">7. Como permaneceremos no amor de Cristo?</span><br><br>

      João 15:10 - "<span class="negrito_italico">Se guardardes os meus mandamentos, permanecereis no meu amor</span>;
      assim como também eu tenho guardado os mandamentos de meu Pai e no seu amor permaneço."

    </p><br>

    <strong>Leia Êxodo 20:3-17 e confira os mandamentos da Lei de Deus</strong><br><br>

    <p id="decisao">MINHA DECISÃO</p>

    Aceito a Lei de Deus como norma para minha conduta. Procurarei, pelo poder de Cristo Jesus, guardar todos os seus mandamentos.

  </div>

  <ion-footer>
    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>
  </ion-footer>

</ion-content>