<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 10</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <h3>Tema 10 - A Morte</h3>

    <p>
      <span class="negrito_cor">1. De que formou Deus o homem?        
      </span><br><br>

      Gênesis 2:7 - "Então, formou o Senhor Deus ao homem do <span class="negrito_italico">pó da terra e lhe soprou nas narinas o fôlego de vida</span>, e o homem passou a ser alma vivente."

    </p><br>

    <p>
      <span class="negrito_cor">2. Que fenômeno se verifica na morte do homem e dos animais?</span><br><br>

      Salmos 104:29(NVI) - "Quando escondes o rosto, entram em pânico; <span class="negrito_italico">quando lhes retiras o fôlego, morrem e voltam ao pó</span>."


    </p><br>

    <p>
      <span class="negrito_cor">3. Fisicamente falando, que diferença existe entrea a morte do homem e dos outros seres viventes?</span><br><br>

      Eclesiastes 3:19,20 - "Porque o que sucede aos filhos dos homens sucede aos animais; o mesmo lhes sucede: <span class="negrito_italico">como morre um, assim morre o outro</span>, todos têm o mesmo fôlego de vida, e nenhuma vantagem tem o homem sobre os animais; porque tudo é vaidade. Todos vão para o mesmo lugar; todos procedem do pó e ao pó tornarão."

    </p><br>

    <p>
      <span class="negrito_cor">4. Que provas temos de que os mortos nada mais sabem?</span><br><br>

      Eclesiastes 9:5,6 - "Porque os vivos sabem que hão de morrer, <span class="negrito_italico">mas os mortos não sabem coisa nenhuma, nem tampouco terão eles recompensa, porque a sua memória jaz no esquecimento</span>. Amor, ódio e inveja para eles já pereceram; para sempre não têm eles parte em coisa alguma do que se faz debaixo do sol."


    </p><br>

    <p>
      <span class="negrito_cor">5. Para onde vão os homens que morrem, tanto bons como maus?</span><br><br>

      Eclesiastes 9:10(NVI) - "O que as suas mãos tiverem que fazer, que o façam com toda a sua força, <span class="negrito_italico">pois na sepultura, para onde você vai</span>, não há atividade nem planejamento, não há conhecimento nem sabedoria."

    </p><br>

    <p>
      <span class="negrito_cor">6. Quantas mortes há para os ímpios?  </span><br><br>

      Apocalipse 2:11 - "Quem tem ouvidos, ouça o que o Espírito diz às igrejas: O vencedor de nenhum modo sofrerá dano da segunda morte."<br><br>

      Apocalipse 21:8 - "Quanto, porém, aos covardes, aos incrédulos, aos abomináveis, aos assassinos, aos impuros, aos feiticeiros, aos idólatras e a todos os mentirosos, a parte que lhes cabe será no lago que arde com fogo e enxofre, a saber, <span class="negrito_italico">a segunda morte</span>."

    </p><br>

    <p>
      <span class="negrito_cor">7. Que duas ressureições aguardam todo ser humano que morre?</span><br><br>

      João 5:28,29 - "Não vos maravilheis disto, porque vem a hora em que todos os que se acham nos túmulos ouvirão a sua voz e sairão: os que tiverem feito o bem, <span class="negrito_italico">para a ressurreição da vida; e os que tiverem praticado o mal, para a ressurreição do juízo</span>."

    </p><br>

    <p id="decisao">MINHA DECISÃO</p>

    Creio que a morte é um estado de total inconsciência. A recompensa virá a cada um por ocasião do retorno de Cristo. Quero preparar-me para esse glorioso dia. 


  </div>

  <ion-footer>

    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>

</ion-content>
