<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-button expand="block" color="tertiary" (click)="irAoTema('tema1')">
    Tema 01 - A Plavra de Deus
  </ion-button>

  <ion-button expand="block" color="tertiary" (click)="irAoTema('tema2')">
    Tema 02 - O Pecado na Terra
  </ion-button>

  <ion-button expand="block" color="tertiary" (click)="irAoTema('tema3')">
    Tema 03 - Perdão e Salvação
  </ion-button>

  <ion-button expand="block" color="tertiary" (click)="irAoTema('tema4')">
    Tema 04 - A Volta de Jesus
  </ion-button>

  <ion-button expand="block" color="tertiary" (click)="irAoTema('tema5')">
    Tema 05 - O Milênio
  </ion-button>

  <ion-button expand="block" color="tertiary" (click)="irAoTema('tema6')">
    Tema 06 - A Nova Terra
  </ion-button>

  <ion-button expand="block" color="tertiary" (click)="irAoTema('tema7')">
    Tema 07 - A Lei de Deus
  </ion-button>

  <ion-button expand="block" color="tertiary" (click)="irAoTema('tema8')">
    Tema 08 - O Dia do Senhor
  </ion-button>

</ion-content>