<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 17</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <h3>Tema 17 - O Santuário</h3>

    <p>

      <span class="negrito_cor">1. Que pedido especial Deus fez a Moisés?</span><br><br>

      Êxodo 25:8 - "<span class="negrito_italico">E me farão um santuário</span>, para que eu possa habitar no meio deles."
      
    </p><br><br>

    <p>
      <span class="negrito_cor">2. O santuário possuía quantos compartimentos além do pátio?</span><br><br>

      Êxodo 26:33 - "Pendurarás o véu debaixo dos colchetes e trarás para lá a arca do Testemunho, para dentro do véu; o véu vos fará separação entre o <span class="negrito_italico">Santo Lugar e o Santo dos Santos</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">3. Quem entrava nesses compartimentos?</span><br><br>

        a. No lugar Santo. Hebreus 9:6 - "Ora, depois de tudo isto assim preparado, continuamente entram no primeiro tabernáculo <span class="negrito_italico">os sacerdotes</span>, para realizar os serviços sagrados;"<br><br>

        b. No Santo dos Santos. Hebreus 9:7 - "mas, no segundo, <span class="negrito_italico">o sumo sacerdote</span>, ele sozinho, uma vez por ano, não sem sangue, que oferece por si e pelos pecados de ignorância do povo,"<br><br>

        c. No Pátio (<span class="negrito_italico">Os pecadores arrependidos</span>)

    </p><br><br>

    <p>
      <span class="negrito_cor">4. Três serviços eram realizados no santuário:</span><br><br>

      a. Diário. Números 28:4 - "<span class="negrito_italico">um cordeiro oferecerás pela manhã, e o outro, ao crepúsculo da tarde</span>;"<br><br>

      b. Pelo pecador. Levítico 4:27-29 - "<span class="negrito_italico">Se qualquer pessoa do povo da terra pecar por ignorância, por fazer alguma das coisas que o Senhor ordenou se não fizessem, e se tornar culpada; ou se o pecado em que ela caiu lhe for notificado, trará por sua oferta uma cabra sem defeito, pelo pecado que cometeu. E porá a mão sobre a cabeça da oferta pelo pecado e a imolará no lugar do holocausto</span>."<br><br>

      c. Anual. Levítico 16:8-10 - "<span class="negrito_italico">Lançará sortes sobre os dois bodes: uma, para o Senhor, e a outra, para o bode emissário. Arão fará chegar o bode sobre o qual cair a sorte para o Senhor e o oferecerá por oferta pelo pecado. Mas o bode sobre que cair a sorte para bode emissário será apresentado vivo perante o Senhor, para fazer expiação por meio dele e enviá-lo ao deserto como bode emissário.</span>"

    </p><br><br>

    <p>
      <span class="negrito_cor">5. Quando o Santuário da Terra perdeu vigência?</span><br><br>

      Mateus 27:50,51 - "<span class="negrito_italico">E Jesus, clamando outra vez com grande voz, entregou o espírito</span>. Eis que o véu do santuário se rasgou em duas partes de alto a baixo; tremeu a terra, fenderam-se as rochas;"

    </p><br><br>

    <p>
      <span class="negrito_cor">6. Em lugar do Santuário da Terrra, que Santuário está em função atualmente?</span><br><br>

      Hebreus 8:1,2 - "Ora, o essencial das coisas que temos dito é que possuímos tal sumo sacerdote, que se assentou à destra do trono da Majestade nos céus, como <span class="negrito_italico">ministro do santuário e do verdadeiro tabernáculo que o Senhor erigiu, não o homem</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">7. Que convite especial é feito para nós hoje?</span><br><br>

      Hebreus 4:16 - "<span class="negrito_italico">Acheguemo-nos, portanto, confiadamente, junto ao trono da graça, a fim de recebermos misericórdia e acharmos graça para socorro em ocasião oportuna.</span>."

    </p><br>

    <p id="decisao">MINHA DECISÃO</p>

    Aceito a Cristo como meu Santo Sacerdote no Céu. Agradeço o seu perdão e salvação. Quero, pela Graça de Deus estar com Ele na eternidade.
 
  </div>

  <ion-footer>

    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>

</ion-content>



