<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 08 - O Dia do Senhor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p>
      <span class="negrito_cor">1. O quê fez o Criador no 7º Dia ao terminar a criação do mundo em seis dias?</span><br><br>

      Gênesis 2:3 - "E <span class="negrito_italico">abençoou</span> Deus o dia sétimo e o <span class="negrito_italico">santificou</span>; porque nele <span class="negrito_italico">descansou</span> de toda a obra que, como Criador, fizera."

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">2. Que dia é o sétimo dia?</span><br><br>

      Êxodo 20:10 - "Mas <span class="negrito_italico">o sétimo dia é o sábado do Senhor, teu Deus</span>; não farás nenhum trabalho, nem tu, nem o teu filho, nem a tua filha, nem o teu servo, nem a tua serva, nem o teu animal, nem o forasteiro das tuas portas para dentro;"

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span id="negrito_cor">3. Para quem foi feito o Santo Dia?</span><br><br>

      Marcos 2:27 - "E acrescentou: O sábado foi estabelecido <span class="negrito_italico">por causa do homem</span>, e não o homem por causa do sábado;"

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">4. O que custamava fazer Cristo no dia de Sábado?</span><br><br>

      Lucas 4:16 - "Indo para Nazaré, onde fora criado, <span class="negrito_italico">entrou, num sábado, na sinagoga, segundo o seu costume, e levantou-se para ler.</span>"

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">5. Que dia guardavam as santaas mulheres, mesmo depois da morte de Cristo?
      </span><br><br>

      Lucas 23:54-56 - "Era o dia da preparação, e começava o sábado. As mulheres que tinham vindo da Galileia com Jesus, seguindo, viram o túmulo e como o corpo fora ali depositado. Então, se retiraram para preparar aromas e bálsamos. <span class="negrito_italico">E, no sábado, descansaram, segundo o mandamento</span>."

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">6. Em que dia especial os apóstolos pregaram o evangelho anos depois da ressureição de Cristo?</span><br><br>

      Atos 13:44 - "No <span class="negrito_italico">sábado seguinte</span>, afluiu quase toda a cidade para ouvir a palavra de Deus."<br><br>

      Atos 18:4 -"E <span>todos os sábados</span> discorria na sinagoga, persuadindo tanto judeus como gregos."

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">7. É permitido praticar obras de caridade e misericórdia aos Sábados?</span><br><br>

      Mateus 12:11,12 - "Ao que lhes respondeu: Qual dentre vós será o homem que, tendo uma ovelha, e, num sábado, esta cair numa cova, não fará todo o esforço, tirando-a dali? Ora, quanto mais vale um homem que uma ovelha? Logo, <span class="negrito_italico">é lícito, nos sábados, fazer o bem</span>."

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">Nota: Memorize o Quarto Mandamento da Lei de Deus, em Êxodo 20: 8 a 11</span>
    </p>

  </div>

  <ion-footer>

    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>

</ion-content>