<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 12</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h3>Tema 12 - Saúde Total</h3>

    <p>
      <span class="negrito_cor">1. Qual é um dos desejos de Deus para com Seus filhos?</span><br><br>

      III João 2 - "Amado, acima de tudo, faço votos por tua prosperidade <span class="negrito_italico">e saúde</span>, assim como é próspera a tua alma."

    </p><br>

    <p>
      <span class="negrito_cor">2. Qual o alimento original que Deus prescreveu ao ser humano?</span><br><br>

      Gênesis 1:29 - "E disse Deus ainda: Eis que vos tenho dado <span class="negrito_italico"> as ervas que dão semente e se acham na superfície de toda a terra e todas as árvores em que há fruto que dê semente</span>; isso vos será para mantimento."

    </p><br>

    <p>
      <span class="negrito_cor">3. Sob o ponto de vista de saúde, quantas classes de animais existem na terra?</span><br><br>

      Gênesis 7:2 - "De todo <span class="negrito_italico">animal limpo</span> levarás contigo sete pares: o macho e sua fêmea; mas dos <span class="negrito_italico">animais imundos</span>, um par: o macho e sua fêmea."

    </p><br>

    <p>
      <span class="negrito_cor">4. Estas são as regras de Deus para os animais, peixes e aves considerados limpos para serem usado como alimento: </span><br><br>

      a. <strong>Animais (Deuteronômio 14:6)</strong> - "Todo animal que <span class="negrito_italico">tem unhas fendidas, e o casco se divide em dois, e rumina</span>, entre os animais, isso comereis."<br><br>

      b. <strong>Peixes (Deuteronômio 14:9)</strong> "Isto comereis de tudo o que há nas águas: tudo o que <span class="negrito_italico">tem barbatanas e escamas</span>."<br><br>

      c. <strong>Aves (Deuteronômio 14: 11-19)</strong> - "<span class="negrito_italico">Toda ave limpa</span> comereis."

    </p><br>

    <p>
      <span class="negrito_cor">5. Como é considerado por Deus a carne de porco e seus derivados?</span><br><br>

      Deuteronômio 14:8 - "Nem o porco, porque tem unha fendida, mas não rumina; <span class="negrito_italico">imundo vos será</span>. Destes não comereis a carne e não tocareis no seu cadáver."

    </p><br>    

    <p>
      <span class="negrito_cor">6. O que diz a Palavra de Deus quanto à bebida alcoólica?</span><br><br>

      "Não olhes para o vinho, quando se mostra vermelho, quando          resplandece no copo e se escoa suavemente. <span class="negrito_italico">Pois ao cabo morderá como a cobra e picará como o basilisco</span>."
      
    </p><br>

    <p>
      <span class="negrito_cor">7. O que é o corpo do verdadeiro filho de Deus?</span><br><br>

      I Coríntios 3:16,17 - "<span class="negrito_italico">Não sabeis que sois santuário de Deus e que o Espírito de Deus habita em vós?</span> Se alguém destruir o santuário de Deus, Deus o destruirá; porque o santuário de Deus, que sois vós, é sagrado."

    </p><br>

    <p id="decisao">MINHA DECISÃO</p>

    Pela graça de Deus, decido abandonar todo hábito contrário à saúde, conservando o meu corpo como templo de Deus e morada do Espírito Santo.

  </div>

  <ion-footer>

    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>

</ion-content>
