<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 19</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h3>Tema 19 - O Batismo Bíblico</h3>

    <p>
      <span class="negrito_cor">1. Antes de subir ao Céu, que ordem deu Jesus a Seus discípulos?</span><br><br>

      Marcos 16:15 - "E disse-lhes: <span class="negrito_italico">Ide por todo o mundo e pregai o evangelho a toda criatura</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">2. Qual é o primeiro passo no preparo para receber o batismo?</span><br><br>

      Mateus 28:19,20 "Ide, portanto, fazei discípulos de todas as nações, batizando-os em nome do Pai, e do Filho, e do Espírito Santo;
      <span class="negrito_italico">ensinando-os a guardar todas as coisas que vos tenho ordenado</span>. E eis que estou convosco todos os dias até à consumação do século."

    </p><br><br>

    <p>
      <span class="negrito_cor">3. Qual é o segundo passo antes do batismo?</span><br><br>

      Marcos 16:16 - "Quem <span class="negrito_italico">crer</span> e for batizado será salvo; quem, porém, não crer será condenado."

    </p><br><br>

    <p>
      <span class="negrito_cor">4. Qual é o terceiro passo?</span><br><br>

      Atos 2:38 - "Respondeu-lhes Pedro: <span class="negrito_italico">Arrependei-vos</span>, e cada um de vós seja batizado em nome de Jesus Cristo para remissão dos vossos pecados, e recebereis o dom do Espírito Santo."

    </p><br><br>

    <p>
      <span class="negrito_cor">5. Depois do arrependimento, qual é o próximo passo?</span><br><br>

      Mateus 3:6 - A confissão dos pecados - "e eram por ele batizados no rio Jordão, <span class="negrito_italico">confessando os seus pecados</span>."<br><br>

      Provérbios 28:13 - "O que encobre as suas transgressões jamais prosperará; mas o que as <span class="negrito_italico">confessa e deixa</span> alcançará misericórdia."

    </p><br><br>

    <p>
      <span class="negrito_cor">6. Qual é a única e verdadeira forma de batismo?</span><br><br>

      Romanos 6:3-5 - (Por imersão) -"Ou, porventura, ignorais que todos nós que fomos batizados em Cristo Jesus fomos batizados na sua morte?
      Fomos, pois, <span class="negrito_italico">sepultados com ele na morte pelo batismo</span>; para que, como Cristo foi ressuscitado dentre os mortos pela glória do Pai, assim também andemos nós em novidade de vida. Porque, se fomos unidos com ele na semelhança da sua morte, certamente, o seremos também na semelhança da sua ressurreição,"
      
    </p><br><br>

    <p>
      <span class="negrito_cor">7. Como Deus considera a pessoa depois de batizada?</span><br><br>

      II Coríntios 5:17 - "E, assim, se alguém está em Cristo, <span class="negrito_italico">é nova criatura</span>; as coisas antigas já passaram; eis que se fizeram novas."

    </p><br>

    <p id="decisao">MINHA DECISÃO</p>

    Agradeço a Deus pela oportunidade da salvação em Jesus Cristo. Quero unir-me ao povo de Deus através do batismo e ser uma nova criatura em Seu Filho.

  </div>

  <ion-footer>

    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>

</ion-content>
