<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 11</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h3>Tema 11 - Espíritos Enganadores</h3>

    <p>
      <span class="negrito_cor">1. Quem, segundo o Apocalipse, veio do Céu para enganar todo mundo?</span><br><br>

      Apocalipse 12:9 - "E foi expulso <span class="negrito_italico">o grande dragão, a antiga serpente, que se chama diabo e Satanás</span>, o sedutor de todo o mundo, sim, foi atirado para a terra, e, com ele, os seus anjos."

    </p><br>

    <p>
      <span class="negrito_cor">2. Que nome dá o Espírito Santo a esses anjos caídos e suas doutrinas?</span><br><br>

      I Timóteo 4:1 - "Ora, o Espírito afirma expressamente que, nos últimos tempos, alguns apostatarão da fé, por obedecerem a <span class="negrito_italico">espíritos enganadores e a ensinos de demônios</span>."

    </p><br>

    <p>
      <span class="negrito_cor">3. Para nos enganar, em que se transformam às vezes os anjos caídos?</span><br><br>

      II Coríntios 11:14,15 - "E não é de admirar, porque o próprio Satanás se transforma em <span class="negrito_italico">anjo de luz</span>. Não é muito, pois, que os seus próprios ministros se transformem em <span class="negrito_italico">ministros de justiça</span>; e o fim deles será conforme as suas obras."

    </p><br>

    <p>
      <span class="negrito_cor">4. Que disfarce usou Satanás no Paraíso para ocultar sua forma diabólica?</span><br><br>

      Gênesis 3:1-4 - "Mas a <span class="negrito_italico">serpente</span>, mais sagaz que todos os animais selváticos que o Senhor Deus tinha feito, disse à mulher: É assim que Deus disse: Não comereis de toda árvore do jardim? Respondeu-lhe a mulher: Do fruto das árvores do jardim podemos comer, mas do fruto da árvore que está no meio do jardim, disse Deus: Dele não comereis, nem tocareis nele, para que não morrais. Então, a serpente disse à mulher: É certo que não morrereis."<br><br>

      <span class="cor-azul">
        Falsas doutrinas surgiram em consequência do engano satanânico de que a alma não morre: Paganismo, Espiritismo, Inferno, Purgatório, Tormento Eterno, Idolatria, Mariolatria, Adoração aos Mortos, etc.
      </span>

    </p><br>

    <p>
      <span class="negrito_cor">5. Que condenação há na Palavra de Deus para quem segue esses espíritos?</span><br><br>

      Deuteronômio 18:10-14 - "<span class="negrito_italico">Não se achará entre ti</span> quem faça passar pelo fogo o seu filho ou a sua filha, nem adivinhador, nem prognosticador, nem agoureiro, nem feiticeiro;nem encantador, nem necromante, nem mágico, nem quem consulte os mortos; pois todo aquele que faz tal coisa é abominação ao Senhor; e por estas abominações o Senhor, teu Deus, os lança de diante de ti. Perfeito serás para com o Senhor, teu Deus. Porque estas nações que hás de possuir ouvem os prognosticadores e os adivinhadores; porém a ti o Senhor, teu Deus, não permitiu tal coisa."

    </p><br>

    <p>
      <span class="negrito_cor">6. Qual o objetivo de Satanás ao apresentar Falsos Cristos, Falsos Profetas, realizar curas e sinais?</span><br><br>

      Mateus 24:24 - "Porque surgirão falsos cristos e falsos profetas operando grandes sinais e prodígios <span class="negrito_italico">para enganar, se possível, os próprios eleitos</span>."

    </p>
    
    <p class="cor-azul">Reflita: Tiago 4:7 - "Sujeitai-vos, portanto, a Deus; mas resisti ao diabo, e ele fugirá de vós."</p><br>

    <p id="decisao">MINHA DECISÃO</p>

    Compreendo o engano e o pecado originados de Satanás. Entrego completamente minha vida a Jesus e peço a Sua ajuda para vencer o inimigo.

  </div>

  <ion-footer>

    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>

</ion-content>
