/*Estilos da div e do ion-title*/
ion-title {
    font-size: 22px;
}

div {
    margin: 20px;
    font-size: 20px;
}

/*Estilos das perguntas*/
.negrito_cor {
    font-weight: bold;
    color: red;
}

/*Estilos dos versículos*/
.negrito_italico {
    font-weight: bold;
    font-style: italic;
}

/*Estilos das pergunta 4 e fim da página*/
.cor-azul {
    color: #152E6C;
}

/*Estilos do fim da página*/
#decisao {
    font-weight: bold;
    font-style: italic;
}

/*Estilos do botão do lado direito*/
#button_right {
    float: right;
}