<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 05</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <h3>Tema 05 - O Milênio</h3>

    <p>
      <span class="negrito_cor">1. O que acontecerá um dia com todos os mortos, tanto justos, como ímpios?</span><br><br>

      João 5:28,29 - "Não vos maravilheis disto, porque vem a hora em que todos <span class="negrito_italico">os que se acham nos túmulos ouvirão a sua voz e sairão: os que tiverem feito o bem, para a ressurreição da vida; e os que tiverem praticado o mal, para a ressurreição do juízo</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">2. Que espaço de tempo haverá entre a ressureição dos justos e a dos ímpios?</span><br><br>

      Apocalipse 20:5,6 - "Os restantes dos mortos não reviveram até que se completassem <span class="negrito_italico">os mil anos</span>. Esta é a primeira ressurreição. Bem-aventurado e santo é aquele que
      tem parte na primeira ressurreição; sobre esses a segunda morte não tem autoridade; pelo contrário, serão sacerdotes de Deus e de Cristo e reinarão com ele os mil anos."


    </p><br><br>

    <p>
      <span class="negrito_cor">3. Para onde serão levados os justos na primeira ressureição?</span><br><br>

      1 Tessalonicenses 4:16,17 - "Porquanto o Senhor mesmo, dada a sua palavra de ordem, ouvida a voz do arcanjo, e ressoada a trombeta de Deus, descerá dos céus, e os mortos em Cristo ressuscitarão primeiro; <span class="negrito_italico">depois, nós, os vivos, os que ficarmos, seremos arrebatados juntamente com eles, entre nuvens, para o encontro do Senhor nos ares, e, assim, estaremos para sempre com o Senhor"</span>.

    </p><br><br>

    <p>
      <span class="negrito_cor">4. Quanto tempo os savlos ficarão no Céu antes de regressar à Terra?</span><br><br>

      Apocalipse 20:6 - "Bem-aventurado e santo é aquele que tem parte na primeira ressurreição; sobre esses a segunda morte não tem autoridade; pelo contrário, serão sacerdotes de Deus e de Cristo e <span class="negrito_italico">reinarão com ele os mil anos</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">5. Durante os mil anos que os justos passam no Céu, como estará esta Terra?</span><br><br>

      Jeremias 4:23-26 - "Olhei para a terra, e <span class="negrito_italico">ei-la sem forma e vazia</span>; para os
      céus, e não tinham luz. lhei para os montes, e eis que tremiam, e todos os outeiros estremeciam. Olhei, e eis que não havia <span class="negrito_italico">homem nenhum, e todas as aves dos céus haviam fugido. Olhei ainda, e eis que a terra fértil era um deserto, e todas as suas cidades estavam derribadas</span> diante do Senhor, diante do
      furor da sua ira."

    </p><br><br>

    <p>
      <span class="negrito_cor">6. Quem fica preso neste abismo coberto de cadáveres por mil anos?</span><br><br>

      Apocalipse 20:1,2 - "Então, vi descer do céu um anjo; tinha na mão a chave do abismo e uma grande corrente. <span class="negrito_italico">Ele segurou o dragão, a antiga serpente, que é o diabo, Satanás</span>, e o prendeu por
      mil anos;"

    </p><br><br>

    <p>
      <span class="negrito_cor">7. O quê ocorrerá com os ímpios no fim dos mil anos?</span><br><br>

      Apocalipse 20:7-9 - "Quando, porém, se completarem os mil anos, Satanás será solto da sua prisão e sairá a seduzir
      as nações que há nos quatro cantos da terra, Gogue e Magogue, a fim de reuni-las para a peleja. O número dessas é
      como a areia do mar. Marcharam, então, pela superfície da terra e sitiaram o acampamento dos santos e a cidade
      querida; <span class="negrito_italico">desceu, porém, fogo do céu e os consumiu</span>."

    </p><br>

    <p id="decisao">MINHA DECISÃO</p>

    Compreendo o Plano de Deus em Salvar os justos e destruir Satanás e seus seguidores. Peço a Deus que me conserve
    fiel até que Cristo venha.

  </div>

  <ion-footer>
    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>
  </ion-footer>

</ion-content>