<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 03</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <h3>Tema 03 - Perdão e Salvação</h3>

    <p>
      <span class="negrito_cor">1. Qual o objetivo principal da vinda de Jesus Cristo ao Mundo?</span><br><br>

      1 Timóteo 1:15 - "Fiel é a palavra e digna de toda aceitação: que Cristo Jesus veio ao mundo para <span
      class="negrito_italico">salvar os pecadores</span>, dos quais eu sou o principal."

    </p><br><br>


    <p>
      <span class="negrito_cor">2. De que forma demonstrou Deus Pai, Seu amor pelos pecadores?</span><br><br>

      João 3:16 - "Porque Deus amou ao mundo de tal maneira que deu o seu <span class="negrito_italico">Filho
        unigênito</span>, para que todo o que nele crê não pereça, mas tenha a vida eterna."


    </p><br><br>


    <p>
      <span class="negrito_cor">3. Além da morte expiatória de Cristo, o que Deus requer do pecador?</span><br><br>

      Atos 3:19 - "<span class="negrito_italico">Arrependei-vos</span>, pois, e <span
        class="negrito_italico">convertei-vos</span> para serem cancelados os vossos pecados..."

    </p><br><br>


    <p>
      <span class="negrito_cor">4. Em lugar de quem Cristo sofreu tão cruelmente?</span><br><br>

      Isaías 53:4,5 - "Certamente, ele <span class="negrito_italico">tomou sobre si as nossas enfermidades e as nossas
        dores levou sobre si</span>; e nós o reputávamos por aflito, ferido de Deus e oprimido. Mas ele foi traspassado
      pelas nossas transgressões e moído pelas nossas iniquidades; o castigo que nos traz a paz estava sobre ele, e
      pelas suas pisaduras fomos sarados."

    </p><br><br>


    <p>
      <span class="negrito_cor">5. De quantos pecados somos purificados pelo sangue de Cristo?</span><br><br>

      I João 1:7 - "Se, porém, andarmos na luz, como ele está na luz, mantemos comunhão uns com os outros, e o sangue de
      Jesus, seu Filho,
      nos purifica de <span class="negrito_italico">todo pecado</span>."

    </p><br><br>


    <p>
      <span class="negrito_cor">6. Uma vez perdoado por Cristo, como o pecador mostra seu amor por Ele?</span><br><br>

      João 14:15 - "Se me amais, <span class="negrito_italico">guardareis os meus mandamentos</span>."

    </p><br><br>


    <p>
      <span class="negrito_cor">7. Que recurso é oferecido ao filho de Deus, caso caia em outro pecado, depois
        perdoado?</span><br><br>

      I João 2:1 - "Filhinhos meus, estas coisas vos escrevo para que não pequeis. Se, todavia, alguém pecar, temos
      <span class="negrito_italico">Advogado junto ao Pai</span>,
      Jesus Cristo, o Justo".

    </p><br>

    <p id="decisao">MINHA DECISÃO</p>

    Aceito a morte de Cristo em meu lugar para que eu tenha a vida eterna. Prometo, pela Sua graça, fazer a vontade de
    Deus.

  </div>

  <ion-footer>
    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>


</ion-content>