<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 14</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <h3>Tema 14 - O Dom de Profecia</h3>

    <p>
      <span class="negrito_cor">1. Como Deus se comunicava, depois do pecado, com Sua Igreja?</span><br><br>

      Números 12:6 - "Então, disse: Ouvi, agora, as minhas palavras; se entre vós há profeta, <span class="negrito_italico">eu, o Senhor, em visão a ele, me faço conhecer ou falo com ele em sonhos.</span>"

    </p><br><br>

    <p>
      <span class="negrito_cor">2. Que dons pôs Deus na Igreja, e para que fim?</span><br><br>

      Efésios 4:11-13 - "<span class="negrito_italico">E ele mesmo concedeu uns para apóstolos, outros para profetas, outros para evangelistas e outros para pastores e mestres</span>,
      com vistas ao aperfeiçoamento dos santos para o desempenho do seu serviço, para a edificação do corpo de Cristo, até que todos cheguemos à unidade da fé e do pleno conhecimento do Filho de Deus, à perfeita varonilidade, à medida da estatura da plenitude de Cristo."
    </p><br><br>

    <p>
      <span class="negrito_cor">3. O que fazem os falsos profetas para enganar o povo?</span><br><br>

      Mateus 24:24 - "porque surgirão falsos cristos e falsos profetas <span class="negrito_italico">operando grandes sinais e prodígios</span> para enganar, se possível, os próprios eleitos."

    </p><br><br>

    <p>
      <span class="negrito_cor">4. Características do profeta verdadeiro:</span><br><br>

      <strong>a. Mateus 7:16</strong> - "<span class="negrito_italico">Pelos seus frutos os conhecereis</span>. Colhem-se, porventura, uvas dos espinheiros ou figos dos abrolhos?"<br><br>

      <strong>b. Deuteronômio 18:22</strong> - "<span class="negrito_italico">Sabe que, quando esse profeta falar em nome do Senhor, e a palavra dele se não cumprir</span>, nem suceder, como profetizou, esta é palavra que o Senhor não disse; com soberba, a falou o tal profeta; não tenhas temor dele."<br><br>

      <strong>c. Isaías 8:20</strong> - "<span class="negrito_italico">À lei e ao testemunho</span>! Se eles não falarem desta maneira, jamais verão a alva."

      <strong>d. 1 João 4:2</strong> - "Nisto reconheceis o Espírito de Deus: <span class="negrito_italico">todo espírito que confessa que Jesus Cristo veio em carne é de Deus</span>;"

    </p><br>

    <p>
      <span class="negrito_cor">5. Por que motivo faz o dragão gerra à mulher, isto é, à Igreja de Deus?</span><br><br>

      Apocalipse 12:17 - "Irou-se o dragão contra a mulher e foi pelejar com os restantes da sua descendência, <span class="negrito_italico">os que guardam os mandamentos de Deus e têm o testemunho de Jesus</span>; e se pôs em pé sobre a areia do mar."

    </p><br>

    <p>
      <span class="negrito_cor">6. O que é o testemunho de Jesus?</span><br><br>

      Apocalipse 19:10 - "Prostrei-me ante os seus pés para adorá-lo. Ele, porém, me disse: Vê, não faças isso; sou conservo teu e dos teus irmãos que mantêm o testemunho de Jesus; adora a Deus. Pois <span class="negrito_italico">o testemunho de Jesus é o espírito da profecia</span>."

    </p><br>

    <p>
      <span class="negrito_cor">7. Que conselho é dado à Igreja com relação às intruções dos profetas?</span><br><br>

      2 Crônicas 20:20 - "Pela manhã cedo, se levantaram e saíram ao deserto de Tecoa; ao saírem eles, pôs-se Josafá em pé e disse: Ouvi-me, ó Judá e vós, moradores de Jerusalém! Crede no Senhor, vosso Deus, e estareis seguros; <span class="negrito_italico">crede nos seus profetas e prosperareis</span>."

    </p><br>

    <p id="decisao">MINHA DECISÃO</p>

    Aceitto o dom de profecia como uma característica da igreja de Deus no tempo do fim. Creio que Ellen White como Sua mensageira para orientar Sua igreja.

  </div>

  <ion-footer>

    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>

</ion-content>
