<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 21</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <h3>Tema 21 - O Reino da Glória (Estudo adicional)</h3>

    <p>
      <span class="negrito_cor">1. Quantos reinos existem relacionados com o Plano da Salvação?</span><br><br>

      Três reinos - o reino do pecado, o reino da graça, e o reino da glória.

    </p><br><br>

    <p>
      <span class="negrito_cor">2. Quando nascemos neste mundo, de que reino formamos parte?</span><br><br>

      Do reino do pecado. "Portanto, assim como por um só homem entrou o pecado no mundo, e pelo pecado, a morte, assim também a morte passou a todos os homens, porque todos pecaram". Romanos 5:12

    </p><br><br>

    <p>
      <span class="negrito_cor">3. Para sair do pecado e entrar no reino da graça, que é necessário?</span><br><br>

    </p><br><br>

    <p>
      <span class="negrito_cor">4. Quais são os passos necessários para que alcancemos a Justificação?</span><br><br>

      Ser doutrinados, crer de todo o coração, arrepender-se, confessar os pecados e receber o perdão de Deus.

    </p><br><br>

    <p>
      <span class="negrito_cor">5. Estando já justificado no Reino da Graça, o quê mais necessitamos?</span><br><br>

      A Santificação. "Segui a paz com todos e a santificação, sem a qual ninguém verá o Senhor". Hebreus 12:14 

    </p><br><br>

    <p class="negrito_cor">
     6. A santificação é obra da vida inteira. Como praticá-la e alcançá-la?
    </p>

    <ol type="1">
      <li>Deixando-se guiar pelo Espírito Santo. Romanos 8:14</li><br>

      <li>Obedecendo a Lei de Deus. Mateus 19:17</li><br>

      <li>Produzindo os frutos do Espírito Santo. Gálatas 5:22-23</li><br>

      <li>Vivendo pela fé. Hebreus 10:38</li><br>

      <li>Unindo-se à verdadeira Igreja de Deus. Mateus 18:18</li><br>

      <li>Assistindo aos cultos com seus irmãos de fé. Hebreus 10:25</li><br>

      <li>Vivendo contente e crer sem cessar. 1 Tessalonicenses 5:16-17</li><br>

      <li>Alimentando-se da Palava de Deus todos os dias. I Pedro 2:1-2</li><br>

      <li>Devolvendo a Deus o Dízimo e sendo liberal nas ofertas. Mateus 23:23 e II Coríntios 9:7</li><br>

      <li>Trabalhando para ganhar almas para Cristo. Apocalipse 22:17</li><br>

      <li>Crescendo na graça e no conhecimento de Cristo. II Pedro 3:18</li><br>

      <li>Sendo perseverante até a morte ou até o fim. Mateus 24:13 e Apocalipse 2:10</li>

    </ol><br>

    <p>
      <span class="negrito_cor">7. Que significa a glorificação e quando seremos glorificados?</span><br><br>

      A glorificação corresponde a ressureição dos justos por ocasião da segunda vinda de Jesus. Uma vez glorificados, entraremos no Reino da Glória para ali gozarmos a eternidade. I Coríntios 15:51-53 e I Tessalonicenses 4:16-17.

    </p>

  </div>

  <ion-footer>

    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

  </ion-footer>



</ion-content>
