<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 06</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <h3>Tema 06 - A Nova Terra</h3>

    <p>
      <span class="negrito_cor">1. Porque Deus vai destruir a Terra?</span><br><br>

      Isaías 24:5,6 - "Na verdade, a terra está contaminada por causa dos seus moradores, <span
        class="negrito_italico">porquanto transgridem as leis, violam os estatutos e quebram a aliança eterna</span>.
      Por isso, a maldição consome a terra, e os que habitam nela se tornam culpados; por isso, serão queimados os
      moradores da terra, e poucos homens restarão."
    </p><br><br>

    <p>
      <span class="negrito_cor">2. Deus criará um mundo novo depois de destruir Satanás e os ímpios?</span><br><br>

      II Pedro 3:10-13 - "Virá, entretanto, como ladrão, o Dia do Senhor, no qual os céus passarão com estrepitoso
      estrondo, e os elementos se desfarão abrasados; também a terra e as obras que nela existem serão atingidas. Visto
      que todas essas coisas hão de ser assim desfeitas, deveis ser tais como os que vivem em santo procedimento e
      piedade, esperando e apressando a vinda do Dia de Deus, por causa do qual os céus, incendiados, serão desfeitos, e
      os elementos abrasados se derreterão. <span class="negrito_italico">Nós, porém, segundo a sua promessa, esperamos
        novos céus e nova terra, nos quais habita justiça</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">3. Quem será o Rei da nova terra e do paraíso restaurado?</span><br><br>

      Apocalipse 11:15 - "O sétimo anjo tocou a trombeta, e houve no céu grandes vozes, dizendo: <span
        class="negrito_italico">O reino do mundo se tornou de nosso Senhor e do seu Cristo, e ele reinará pelos séculos
        dos séculos
      </span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">4. Como se chama a capital do mundo que Deus vai criar?</span><br><br>

      Apocalipse 21:1,2 - "Vi novo céu e nova terra, pois o primeiro céu e a primeira terra passaram, e o mar já não
      existe. Vi também <span class="negrito_italico">a cidade santa, a nova Jerusalém</span>, que descia do céu, da
      parte de Deus, ataviada como noiva adornada para o seu esposo."

    </p><br><br>

    <p>
      <span class="negrito_cor">5. Que rio e que árvore se encontram na cidade de Deus?</span><br><br>

      Apocalipse 22:1,2 - "Então, me mostrou <span class="negrito_italico">o rio da água da vida</span>, brilhante como
      cristal, que sai do trono de Deus e do Cordeiro. No meio da sua praça, de uma e outra margem do rio, está <span
        class="negrito_italico">a árvore da vida</span>, que produz doze frutos, dando o seu fruto de mês em mês, e as
      folhas da árvore são para a cura dos povos."

    </p><br><br>

    <p>
      <span class="negrito_cor">6. Que prova temos de que a vida na Nova Terra será uma vida real e
        feliz?</span><br><br>

      Isaías 65:21 - "<span class="negrito_italico">Eles edificarão casas</span> e nelas habitarão; <span
        class="negrito_italico">plantarão vinhas</span> e comerão o seu fruto."

    </p><br><br>

    <p>
      <span class="negrito_cor">7. Que promessa maravilhosa Deus nos faz quanto a Nova Terra?</span><br><br>

      Apocalipse 21:4 - "E lhes <span class="negrito_italico">enxugará dos olhos toda lágrima, e a morte já não
        existirá, já não haverá luto, nem pranto, nem dor</span>, porque as primeiras coisas passaram."

    </p><br>


    <p id="decisao">MINHA DECISÃO</p>

    Creio que este mundo será destruído e a terra renovada. Decido fazer a vontade de Deus e me preparar para viver com
    Ele.

  </div>

  <ion-footer>
    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>
  </ion-footer>

</ion-content>