<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 04</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>

    <h3>Tema 04 - A Volta de Jesus</h3>

    <p>
      <span class="negrito_cor">1. Antes de regressar ao Céu, que promessa fez Jesus à Sua igreja?</span><br><br>

      João 14:1-3 - "Não se turbe o vosso coração; credes em Deus, crede também em mim. Na casa de meu Pai há muitas
      moradas. Se assim não fora, eu vo-lo teria dito. <span class="negrito_italico">Pois vou preparar-vos lugar. E, quando eu for e vos preparar lugar, voltarei</span> e vos receberei para mim mesmo, para que, onde eu estou,
      estejais vós também."

    </p><br><br>

    <p>
      <span class="negrito_cor">2. Quando Jesus subiu ao Céu, que mensagem Deus enviou por meio dos anjos?</span><br><br>

      Atos 1:10,11 - "E, estando eles com os olhos fitos no céu, enquanto Jesus subia, eis que dois varões vestidos de
      branco se puseram ao lado deles e lhes disseram: Varões galileus, por que estais olhando para as alturas? <span class="negrito_italico">Esse Jesus que dentre vós foi assunto ao céu virá do modo como o vistes subir</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">3. Que sinais teriam lugar no mundo perto da volta de Jesus?</span><br><br>

      Mateus 24:3-8 - "No monte das Oliveiras, achava-se Jesus assentado, quando se aproximaram dele os discípulos, em
      particular, e lhe pediram: Dize-nos quando sucederão estas coisas e que sinal haverá da tua vinda e da consumação do século. E ele lhes respondeu: Vede que ninguém vos engane. <span class="negrito_italico">Porque virão muitos em meu nome, dizendo: Eu sou o Cristo, e enganarão a muitos. E, certamente, ouvireis falar de guerras e rumores de guerras; vede, não vos assusteis, porque é necessário assim acontecer, mas ainda não é o fim. Porquanto se levantará nação contra nação, reino contra reino, e haverá fomes e terremotos em vários lugares; porém tudo isto é o princípio das dores</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">4. Que acontecerá no céu e também entre os homens?</span><br><br>

      Lucas 21:25-27 - "Haverá <span class="negrito_italico">sinais no sol, na lua e nas estrelas; sobre a terra, angústia entre as nações</span> em perplexidade por causa do bramido do mar e das ondas; haverá homens que desmaiarão de terror e pela expectativa das coisas que sobrevirão ao mundo; pois os poderes dos céus serão abalados. Então, se verá o Filho do Homem vindo numa nuvem, com poder e grande glória".

    </p><br><br>

    <p>
      <span class="negrito_cor">5. Qual seria um dos últimos acontecimentos do fim do mundo?</span><br><br>

      Mateus 24:14 - "E será pregado <span class="negrito_italico">este evangelho do reino por todo o mundo</span>, para
      testemunho a todas as nações. Então, virá o fim."

    </p><br><br>

    <p>
      <span class="negrito_cor">6. Que farão na volta de Cristo os pecadores que não estiverem
        preparados?</span><br><br>

      Apocalipse 6:15,16 - "Os reis da terra, os grandes, os comandantes, os ricos, os poderosos e todo escravo e todo
      livre <span class="negrito_italico">se esconderam nas cavernas e nos penhascos dos montes e disseram aos montes e aos rochedos: Caí sobre nós e escondei-nos da face daquele que se assenta no trono e da ira do Cordeiro</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">7. Que experiência terão os justos que estiverem preparados para aquele dia?</span><br><br>

      Isaías 25:9 - "Naquele dia, se dirá: Eis que este é o nosso Deus, em quem esperávamos, e ele nos salvará; <span
        class="negrito_italico">este é o Senhor, a quem aguardávamos; na sua salvação exultaremos e nos
        alegraremos</span>."

    </p><br>

    <p id="decisao">MINHA DECISÃO</p>

    Creio que Jesus Cristo em breve voltará! Prometo preparar-me para a Sua volta e ajudar a outros nesse preparo.

  </div>

  <ion-footer>
    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>


</ion-content>