<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 20</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h3>Tema 20 - A Igreja Verdadeira (Estudo adicional)</h3>

    <p>
      <span class="negrito_cor">1. Quem é o fundamento da igreja ou sua Pedra angular?</span><br><br>

      Efésios 2:20 - "edificados sobre o fundamento dos apóstolos e profetas, sendo ele mesmo, Cristo Jesus, a pedra angular;"

    </p><br><br>

    <p>
      <span class="negrito_cor">2. Quem são os dirigentes da igreja?</span><br><br>

      Efésios 4:11,12 -"E ele mesmo concedeu uns para apóstolos, outros para profetas, outros para evangelistas e outros para pastores e mestres,
      com vistas ao aperfeiçoamento dos santos para o desempenho do seu serviço, para a edificação do corpo de Cristo,"

    </p><br><br>

    <p>
      <span class="negrito_cor">3. Qual é a tríplice missão da igreja?</span><br><br>

      Mateus 4:23 - "Percorria Jesus toda a Galileia, ensinando nas sinagogas, pregando o evangelho do reino e curando toda sorte de doenças e enfermidades entre o povo."

    </p><br><br>

    <p>
      <span class="negrito_cor">4. Que exemplo a Igreja deve seguir?</span><br><br>

      João 13:15 - "Porque eu vos dei o exemplo, para que, como eu vos fiz, façais vós também."

    </p><br><br>

    <p>
      <span class="negrito_cor">5. Qual é a norma de conduta da Igreja?</span><br><br>

      Apocalipse 12:17 - "Irou-se o dragão contra a mulher e foi pelejar com os restantes da sua descendência, os que guardam os mandamentos de Deus e têm o testemunho de Jesus; e se pôs em pé sobre a areia do mar."

    </p><br><br>

    <p>
      <span class="negrito_cor">6. Que dom possuirá a Igreja Remanescente?</span><br><br>

      Apocalipse 19:10 - "Prostrei-me ante os seus pés para adorá-lo. Ele, porém, me disse: Vê, não faças isso; sou conservo teu e dos teus irmãos que mantêm o testemunho de Jesus; adora a Deus. Pois o testemunho de Jesus é o espírito da profecia."

    </p><br><br>

    <p>
      <span class="negrito_cor">7. Que devo fazer?</span><br><br>

      1. Unir-me à Igreja Verdadeira . Atos 2:41.<br>
      2. Permanecer fiel e firme. II Pedro 1:10-12.

    </p><br><br>

    <p class="negrito_cor">
      8. Quais as características da Igreja Verdadeira?
    </p>

    <ul>
      <li>A Igreja Verdadeira possui a fé em Jesus - (Apocalipse 14:12)</li><br>

      <li>Guarda os mandamentos da lei de Deus - (Apocalipse 14:12)</li><br>

      <li>Tem a manifestação visível do espírito de profecia - (Apocalipse 19:10)</li><br>

      <li>Respeita o santo sábado do Senhor - (Êxodo 20:8-11)</li><br>

      <li>Orienta-se pelo que diz a Santa Palavra de Deus - (II Timóteo 3:16)</li><br>

      <li>Sustenta um dinâmico e tríplice programa de evangelismo - (Mateus 4:23)</li><br>

      <li>Anuncia o juízo iminente - (Apocalipse 14:7)</li><br>

      <li>Prega com poder acerca da segunda vinda de Jesus - (Tito 2:13)</li>

    </ul>

  </div>

  <ion-footer>

    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>

</ion-content>
