<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 16</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <h3>Tema 16 - Fidelidade Cristã</h3>

    <p>
      <span class="negrito_cor">1. A quem pertence o Universo?</span><br><br>

      Salmos 24:1 - "<span class="negrito_italico">Ao Senhor pertence a terra</span> e tudo o que nela se contém, o mundo e os que nele habitam."

    </p><br><br>

    <p>
      <span class="negrito_cor">2. Graças a quem obtemos nossos bens?</span><br><br>

      Deuteronômio 8:17,18 - "Não digas, pois, no teu coração: A minha força e o poder do meu braço me adquiriram estas riquezas. Antes, te lembrarás do Senhor, teu Deus, <span class="negrito_italico">porque é ele o que te dá força para adquirires riquezas</span>; para confirmar a sua aliança, que, sob juramento, prometeu a teus pais, como hoje se vê."

    </p><br><br>

    <p>
      <span class="negrito_cor">3. Que pate de nosso dinheiro pertence a Deus?</span><br><br>

      Levítico 27:30,32 - "Também todas as dízimas da terra, tanto dos cereais do campo como dos frutos das árvores, são do Senhor; santas são ao Senhor. No tocante às dízimas do gado e do rebanho, de tudo o que passar debaixo do bordão do pastor, <span class="negrito_italico">o dízimo será santo ao Senhor</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">4. Jesus aprovou o sistema de dízimo quando esteve neste mundo?</span><br><br>

      Mateus 23:23 - "Ai de vós, escribas e fariseus, hipócritas, porque dais o dízimo da hortelã, do endro e do cominho e tendes negligenciado os preceitos mais importantes da Lei: a justiça, a misericórdia e a fé; <span class="negrito_italico">devíeis, porém, fazer estas coisas, sem omitir aquelas</span>!"

    </p><br><br>

    <p>
      <span class="negrito_cor">5. Que acontece com muitos que são infiéis a Deus?</span><br><br>

      Ageu 1:6 - "Tendes semeado muito e recolhido pouco; comeis, mas não chega para fartar-vos; bebeis, mas não dá para saciar-vos; vestis-vos, mas ninguém se aquece; <span class="negrito_italico">e o que recebe salário, recebe-o para pô-lo num saquitel furado</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">6. Em que é empregado o dízimo?</span><br><br>

      1 Coríntios 9:13,14 - "Não sabeis vós que os que prestam serviços sagrados do próprio templo se alimentam? E quem serve ao altar do altar tira o seu sustento? <span class="negrito_italico">Assim ordenou também o Senhor aos que pregam o evangelho que vivam do evangelho</span>;"

    </p><br><br>

    <p>
      <span class="negrito_cor">7. Que bênção maravilhosa promete Deus ao fiel dizimista?</span><br><br>

      Malaquias 3:10,11 - "Trazei todos os dízimos à casa do Tesouro, para que haja mantimento na minha casa; e provai-me nisto, diz o Senhor dos Exércitos, se eu não vos abrir as janelas do céu e não <span class="negrito_italico">derramar sobre vós bênção sem medida</span>. Por vossa causa, repreenderei o devorador, para que não vos consuma o fruto da terra; a vossa vide no campo não será estéril, diz o Senhor dos Exércitos."

    </p><br>

    <p id="decisao">MINHA DECISÃO</p>

    Quero ser fiel a Deus, apoiando a pregação do evangelho, devolvendo-lhe fielmente meus dízimos e ofertas.

  </div>

  <ion-footer>

    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>

</ion-content>
