<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 18</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <h3>Tema 18 - O Pecado Imperdoável</h3>

    <p>
      <span class="negrito_cor">1. Qual o pecado que Deus não perdoará?</span><br><br>

      Marcos 3:28,29 - "Em verdade vos digo que tudo será perdoado aos filhos dos homens: os pecados e as blasfêmias que proferirem. Mas aquele que <span class="negrito_italico">blasfemar contra o Espírito Santo não tem perdão para sempre, visto que é réu de pecado eterno</span>."

    </p><br><br>

    <p>
      <span class="negrito_cor">2. Quem é o Espírito Santo?</span><br><br>

      Mateus 28:19 "Ide, portanto, fazei discípulos de todas as nações, batizando-os em nome do <span class="negrito_italico">Pai, e do Filho, e do Espírito Santo</span>";

    </p><br><br>

    <p>
      <span class="negrito_cor">3. Qual é a sua obra?</span><br><br>

      João 16:7,8 - "Mas eu vos digo a verdade: convém-vos que eu vá, porque, se eu não for, o Consolador não virá para vós outros; se, porém, eu for, eu vo-lo enviarei. <span class="negrito_italico">Quando ele vier, convencerá o mundo do pecado, da justiça e do juízo</span>:"

    </p><br><br>

    <p>
      <span class="negrito_cor">4. Pode Ele ser entristecido?</span><br><br>

      Efésios 4:30 - "E não <span class="negrito_italico">entristeçais o Espírito de Deus</span>, no qual fostes selados para o dia da redenção."

    </p><br><br>

    <p>
      <span class="negrito_cor">5. O que fala o Espírito Santo repetidas vezes?</span><br><br>

      Isaías 30:21 - "Quando te desviares para a direita e quando te desviares para a esquerda, os teus ouvidos ouvirão atrás de ti uma palavra, dizendo: <span class="negrito_italico">Este é o caminho, andai por ele</span>."

    </p><br><br>


    <p>
      <span class="negrito_cor">6. Como pode alguém cometer o pecado imperdoável?</span><br><br>

      Tiago 4:17 - "Portanto, aquele que <span class="negrito_italico">sabe que deve fazer o bem e não o faz nisso está pecando</span>."<br><br>

      Hebreus 10:26 - "Porque, <span class="negrito_italico">se vivermos deliberadamente em pecado</span>, depois de termos recebido o pleno conhecimento da verdade, já não resta sacrifício pelos pecados;"

    </p><br><br>

    <p>
      <span class="negrito_cor">7. Qual deve ser nossa resposta ao apelo do Espírito Santo?</span><br><br>

      Hebreus 4:7 - "de novo, determina certo dia, Hoje, falando por Davi, muito tempo depois, segundo antes fora declarado: Hoje, se ouvirdes a sua voz, <span class="negrito_italico">não endureçais o vosso coração</span>."

    </p><br>

    <p id="decisao">MINHA DECISÃO</p>

    Agradeço a Deus pela atuação do Seu Santo Espírito em minha vida. Prometo, pela Graça de Deus, ouvir e praticar Sua orientação.

  </div>

  <ion-footer>

    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>

</ion-content>
