<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 02 - O Pecado na Terra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p>
      <span class="negrito_cor">1. Que duas atividades Deus deu a Adão quando o colocou no Jardim do Éden</span><br><br>

      Gênesis 2:15 - "Tomou, pois, o Senhor Deus ao homem e o colocou no jardim do Éden para o <span
        class="negrito_italico">cultivar e o guardar</span>."

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">2. Quem veio a esse mundo para interromper a felcidade humana?</span><br><br>

      Lucas 10:18 - "E ele lhes disse: Eu vi <span class="negrito_italico">Satanás</span> cair do céu como um
      relâmpago."

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">3. O que levou o Anjo Lúcifer, transformado em Satanás, a ser expulso do
        Céu?</span><br><br>

      Ezequiel 28:17 - "<span class="negrito_italico">Elevou-se o teu coração</span> por causa da tua formosura,
      corrompeste a tua sabedoria por causa do teu resplendor; lancei-te
      por terra, diante dos reis te pus, para que te contemplem.""


    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">4. Para onde Lúcifer foi atirado quando foi expulso?</span>

      Apocalipse 12:7-9 - "Houve peleja no céu. Miguel e os seus anjos pelejaram contra o dragão. Também pelejaram o
      dragão e seus anjos;
      todavia, não prevaleceram; nem mais se achou no céu o lugar deles.
      E foi expulso o grande dragão, a antiga serpente, que se chama diabo e Satanás, o sedutor de todo o mundo, sim,
      <span class="negrito_italico">foi
        atirado para a terra</span>, e, com ele, os seus anjos.""

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">5. Pelo pecado, isto é, pela obediência a Satanás e desobediência a Deus, qual foi a
        sorte do homem?</span><br><br>

      Gênesis 3:23 - "O Senhor Deus, por isso, o lançou fora do jardim do Éden, a fim de <span
        class="negrito_italico">lavrar a terra</span> de que fora tomado."

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">6. Além de expulso do Paraíso, que outra consequência trágica trouxe o pecado à todo ser
        humano?</span><br><br>

      Romanos 5:12 - "Portanto, assim como por um só homem entrou o pecado no mundo, e pelo pecado, a
      <span class="negrito_italico">morte</span>, assim também a morte passou a todos os homens, porque todos pecaram."

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">Deus têm prazer no pecado e na morte do pecador?</span><br><br>

      Ezequiel 33:11 - "Dize-lhes: Tão certo como eu vivo, diz o Senhor Deus, <span class="negrito_italico">não tenho
        prazer na morte do perverso</span>, mas em que o perverso se
      converta do seu caminho e viva. Convertei-vos, convertei-vos dos vossos maus caminhos; pois por que haveis de
      morrer, ó
      casa de Israel?"

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">8. Tendo o homem perdido, pelo Pecado do Paraíso, a felicidade e a vida eterna, para que
        fim veio Cristo ao mundo?</span><br><br>

      Lucas 19:10 -"Porque o Filho do Homem veio <span class="negrito_italico">buscar e salvar o perdido</span>."

    </p><br>

    <p id="decisao">MINHA DECISÃO</p>

    Reconheço a existência do pecado e do mal. Aceito de coração a salvação que Cristo trouxe para o homem.

  </div>

  <ion-footer>
    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>

</ion-content>