<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tema 01 - A Palavra de Deus</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>

    <p>
      <span class="negrito_cor">1. Que outros nomes recebe a Bíblia por parte dos escritores sagrados?</span><br><br>

      Lucas 8:21 - "Ele, porém, lhes respondeu: Minha mãe e meus irmãos são aqueles que ouvem a <span
        class="negrito_italico">Palavra de Deus</span> e a praticam."<br><br>

      Mateus 21:42 - "Perguntou-lhes Jesus: Nunca lestes nas <span class="negrito_italico">Escrituras</span>: A pedra
      que os construtores rejeitaram, essa veio a ser a principal
      pedra, angular; isto procede do Senhor e é maravilhoso aos nossos olhos?"<br><br>

      Isaías 34:16 - "Buscai no <span class="negrito_italico">Livro do Senhor</span> e lede: Nenhuma destas criaturas
      falhará, nem uma nem outra faltará; porque a boca do Senhor o
      ordenou, e o seu Espírito mesmo as ajuntará."

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">2. Quem inspirou os escritores da Bíblia?</span><br><br>

      2 Pedro 1:21 - "Porque nunca jamais qualquer profecia foi dada por vontade humana; entretanto, homens [santos]
      falaram da parte de Deus,
      movidos pelo <span class="negrito_italico">Espírito Santo</span>."

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">3. Que devem buscar nas Escrituas os que a examinam?</span><br><br>

      João 5:39 - "Examinais as Escrituras, porque julgais ter nelas a <span class="negrito_italico">vida eterna</span>,
      e são elas mesmas que testificam de
      mim."

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">4. Qual é a utilidade das Escrituras?
      </span><br><br>

      2 Timóteo 3:16,17 - "Toda a Escritura é inspirada por Deus e <span class="negrito_italico">útil para o ensino,
        para a repreensão, para a correção, para a educação na
        justiça</span>, a fim de que o homem de Deus seja perfeito e perfeitamente habilitado para toda boa obra."

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">5. O que Deus deseja que Sua Palavra seja para nós, neste mundo de pecado, erro e
        morte?</span><br><br>

      Salmos 119:105 -"<span class="negrito_italico">Lâmpada</span> para os meus pés é a tua palavra e, <span
        class="negrito_italico">luz</span> para os meus caminhos."

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">6. Por quanto tempo permanerá a Palavra de Deus?</span><br><br>

      Isaías 40:8 - "Seca-se a erva, e cai a sua flor, mas a palavra de nosso Deus permanece <span
        class="negrito_italico">eternamente</span>."<br><br>

      Mateus 24:35 - "Passará o céu e a terra, porém as minhas palavras <span class="negrito_italico">não
        passarão</span>.

    </p>

    <div id="linha-horizontal"></div>

    <p>
      <span class="negrito_cor">7. Sobre quem pronuncia Cristo sua bênçâo?
      </span><br><br>

      Lucas 11:28 -"Ele, porém, respondeu: Antes, bem-aventurados são <span class="negrito_italico">os que ouvem a
        palavra de Deus e a guardam</span>!"

    </p><br>

    <p id="decisao">MINHA DECISÃO</p>

    Creio que a Bíblia é a Palavra de Deus, inspirada pelo Espírito Santo. Aceito-a como regra de fé. Prometo estudar e
    praticar os seus ensinos.

  </div>

  <ion-footer>
    <ion-button (click)="voltar()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Voltar
    </ion-button>

    <ion-button id="button_right" (click)="avancar()">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      Avançar
    </ion-button>

  </ion-footer>


</ion-content>